/* PLS DELETE LATER */

pre > code.hljs{
    line-height: 1.5;
    font-family: "Fira Code";
    font-size: 87.5%;
    padding: 1.5rem;
    border-radius: .25rem;
    color : #292b2c;
    background-color: #f7f7f9;
}

pre {
    display: block;
    max-width: 100%;
    overflow: scroll;
}